.browse-menu {
  margin-top: 3%;
  background-color: rgba(0, 0, 0, 0.945);
  border: 1px solid rgba(128, 128, 128, 0.185);
  border-top: 0.3px solid white;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
}

.browse-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em 0em 1em 0em;
  margin: 0em 0.5em 0em 0.5em;
}

.browse-menu li:hover {
  background-color: rgba(128, 128, 128, 0.295);
}
