@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

body {
  max-width: 100%;
  margin: auto;
  background-color: #141414;
  background-image: url(../assets/main_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
}

ul {
  list-style-type: none;
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.93rem;
  color: white;
}

a {
  text-decoration: none;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);
  border-radius: 10px;
}
/* SCROLL BAR END */
