@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

body {
  max-width: 100%;
  margin: auto;
  background-color: #141414;
  background-image: url(../assets/main_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  color: white;
}
