/* MAIN */
.navbar-wrapper {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  );
  transition: background-color 0.3s ease-in-out;
}

.navbar-wrapper.active {
  background-color: #141414;
}

.navbar-left-icon-group,
.navbar-right-icon-group {
  display: flex;
  align-items: center;
}
/* END MAIN */

/* LEFT GROUP */
.navbar-left-icon-group {
  position: fixed;
  left: 15px;
}

.logo {
  width: 15%;
}

.logo-link {
  display: flex;
}

.browse-link {
  margin-left: 1.1em;
}

.browse-link * {
  pointer-events: none;
}

.browse-link::after {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: "";
  height: 0;
  margin-left: 5px;
  width: 0;
  display: inline-block;
  padding-bottom: 2px;
}

.navbar-left-icon-group ul {
  list-style-type: none;
}

.navbar-left-icon-group .main-menu {
  display: flex;
  padding: 0;
}

.navbar-left-icon-group li {
  margin-left: 1.4em;
}

.navbar-wrapper a {
  text-decoration: none;
}

.navbar-wrapper a:hover {
  color: #bbbbbb;
  transition: color 0.4s;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: color;
}
/* END LEFT GROUP */

/* RIGHT GROUP */
.navbar-right-icon-group {
  position: fixed;
  right: 30px;
}

.navbar-right-icon-group span {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 1.2em;
}

.profile-icon {
  border-radius: 10%;
}

.navbar-right-icon-group span .caret {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  height: 0;
  margin-left: 10px;
  transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
  width: 0;
}

.isProfileIconActive {
  transform: rotate(180deg);
  transition: all 0.25s ease-in-out;
}

.search-input {
  background: url("../assets/search-icon.png") no-repeat scroll 10px 7px;
  background-color: rgb(0, 0, 0, 80%);
  border: 1px solid white;
  padding-left: 3em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  box-sizing: border-box;
  outline: none;
  opacity: 0%;
  width: 280px;
  transition: opacity 0.3s ease-in-out;
}

.search-input:focus {
  opacity: 100%;
}
/* END RIGHT GROUP */
