.notification-menu {
  right: 60px;
  position: absolute;
  max-height: 40vh;
  overflow-y: scroll;
}

.notification-menu li:first-of-type {
  border-top: 1px solid white;
}

.notification-menu li {
  text-align: center;
  padding: 1.5em 1.5em 1.5em 0.5em;
  background-color: rgba(0, 0, 0, 0.89);
}

.notification-menu li:hover {
  background-color: rgba(56, 55, 55, 0.89);
}

.notification-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-menu img {
  margin-right: 1em;
}
