.row {
  margin-top: 2em;
  margin-left: 3.5em;
}

.row h1 {
  font-size: 1.8em;
  text-shadow: 2px 2px 2px #000000;
  margin-bottom: 0;
}

.row-posters {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-left: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.row-posters p {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-shadow: 1px 1px 1px #000000;
  background-color: #c92f2f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.row-posters::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.row-posters {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.row-poster {
  object-fit: contain;
  height: 12rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.show {
  transition: all 0.5s ease;
}

.show:hover {
  transform: scale(1.1);
}
