.search-input {
  background: url("../assets/search-icon.png") no-repeat scroll 10px 7px;
  background-color: rgb(0, 0, 0, 80%);
  border: 1px solid white;
  padding-left: 3em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  box-sizing: border-box;
  outline: none;
  opacity: 0%;
  width: 280px;
  transition: opacity 0.3s ease-in-out;
}

.search-input:focus {
  opacity: 100%;
}

.search-results {
  position: absolute;
  top: 100px;
  right: 110px;
  background-color: black;
  width: 72%;
}
