.notification-menu {
  right: 60px;
  position: absolute;
  max-height: 50vh;
  min-width: 380px;
  overflow-y: scroll;
  max-width: 1vw;
}

.notification-menu h1 {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin: 0;
  border-top: 2px solid white;
  background-color: rgba(0, 0, 0, 0.89);
}

.notification-menu li {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 1em;
  background-color: rgba(0, 0, 0, 0.89);
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.notification-menu li:hover {
  background-color: rgba(56, 55, 55, 0.89);
}

.notification-menu img {
  border-radius: 5px;
  height: 6em;
  object-fit: contain;
}

.date {
  color: gray;
}

.title {
  font-size: 1.15rem;
}

@media only screen and (max-width: 480px) {
  .notification-menu {
    right: -50px;
  }
}
